:root {
  --main-color: #01959a;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

button {
  background: transparent;
  border: none;
}

a {
  text-decoration: none;
}

.head-page {
  position: relative;
}

.head-page h1 {
  font-weight: bold;
  font-size: 70px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  color: #fff;
  animation: fadeIn 2s 0s;
  -webkit-animation: fadeIn 2s 0s;
}

.head-page img {
  width: 100%;
  height: 50vh;
}